@font-face {
  font-family: 'e-conolight';
  src:  url('fonts/e-conolight.eot?ur66t9');
  src:  url('fonts/e-conolight.eot?ur66t9#iefix') format('embedded-opentype'),
    url('fonts/e-conolight.ttf?ur66t9') format('truetype'),
    url('fonts/e-conolight.woff?ur66t9') format('woff'),
    url('fonts/e-conolight.svg?ur66t9#e-conolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'e-conolight' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\e902";
}
.icon-outdoor-lighting:before {
  content: "\e900";
}
.icon-indoor-lighting:before {
  content: "\e901";
}
