

@import 'reset.less';
@import 'grid/flexbox-grid.less';

@import 'variables/_spacing.less';
@import 'variables/_colors.less';
@font-family__sans-serif: 'Prompt';
@font-family__serif: 'Oswald';
@import '../assets/e-conolight/style.css';

@import 'components/highlighted-text.less';
@import 'components/hero.less';
@import 'components/product-add.less';
@import 'components/product-deal.less';
@import 'components/buttons.less';
@import 'components/two-link-ad.less';
@import 'components/callout.less';
@import 'components/cta.less';
@import 'components/footer-banner.less';

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Prompt';
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    font-size: 1.4rem;
}


.img-responsive {
    max-width: 100%;
    height: auto;
}

.centering-div {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

.max-width-60 {
    max-width: 60%
}

.no-bottom-padding {
    padding-bottom: 0;
}
