.col {
  box-sizing: border-box;
  flex: 0 0 100%;
  max-width: 100%;
  padding: @mobile-gutter 0 0 @mobile-gutter;

  @media (min-width: @lg) {
    padding: @gutter 0 0 @gutter;
  }

  .variant(no-gutters; {
    padding: 0;
  });
}
