.banner {
    background-color: @econolight-light-blue;
}

.banner__link {
    color: @white;
    text-decoration: none;
    display: block;
    letter-spacing: .05em;
    padding: .4em 1em;

    @media (min-width: @md) {
        display: flex;
        justify-content: center;
        font-size: 1.6rem;
        letter-spacing: .05em;
        width: 100%;
        padding: .9em 1em;
    }
}

.banner__title {
    font-weight: 700;

    @media (min-width: @md) {
        margin-right: 1em;
    }
}


.page-banner {
    background-size: cover;
    background-position: center;

    @media (min-width: @lg) {
        padding: 140px 0;
    }
}

.page-banner__title {
    font-size: 2.2rem;
    color: @white;
    text-transform: uppercase;

    @media (min-width: @lg) {
        font-size: 7rem;
        margin-bottom: .25em;
    }
}

.page-banner__copy {
    font-size: 1.4rem;
    color: @white;

    @media (min-width: @lg) {
        font-size: 2.2rem;
    }
}
