.cta-ad {
    background-size: cover;
    background-position: center;
    display: flex;
    flex: 1;
}

.cta-ad--product {
    background-image: radial-gradient(#0072CE 49%, #004C97 100%);
}

.cta-ad__link {
    text-decoration: none;
    display: flex;
    flex: 1;
    align-items: center;
}

.cta-ad__highlighted-title {
    display: inline-block;
    font-size: 2.3rem;

    @media (min-width: @lg) {
        font-size: 39px;
    }
}

.cta-ad__highlighted-title--bottom {
    margin-left: 10px;

    @media (min-width: @lg) {
        margin-left: 50px;
    }
}

.cta-ad__link-small {
    position: relative;
    padding-bottom: 100%;
    width: 100%;
    color: @white;

    &:hover {

    }
}

.cta-ad__link-product {
    padding: 25px 10px 0;
}

.cta-ad__content-container {
    max-width: 190px;

    @media (min-width: @lg) {
        max-width: 310px;
    }
}

.cta-ad__title-small {
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: .05em;
    text-shadow: 0 1px 2px rgba(0,0,0,0.50);
    text-align: center;
    line-height: 1;
    padding: 0 .5em;
    text-transform: uppercase;
}

.cta-ad__title-large {
    font-size: 2.4rem;
    font-family: @font-family__serif;
    margin-bottom: 1em;
}

.cta-ad__copy-container {
    @media (max-width: (@md - 1)) {
        margin-bottom: 25px;
    }
}

.cta-ad__product-container {
    display: flex;
}

.cta-ad__copy {
    font-size: 1.3rem;
    margin-bottom: 1em;
    color: @black;

    @media (min-width: @lg) {
        font-size: 2rem
    }
}

.cta-ad__link-text {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: @font-family__serif;

    &:hover {
        text-decoration: underline;
    }
}

.cta-ad__copy-container {
    padding: 20px 10px 25px;

    @media (min-width: @md) {
        padding-bottom: 20px 0 25px;
    }

    @media (min-width: @lg) {
        padding: 30px 0 30px 50px;
    }
}
