.cta-ad {
    background-size: cover;
    background-position: center;
    display: flex;
    flex: 1;
}

.cta-ad__link {
    text-decoration: none;
    display: flex;
    flex: 1;
    align-items: center;
}

.cta-ad__highlighted-title {
    display: inline-block;
    font-size: 2.3rem;

    @media (min-width: @lg) {
        font-size: 39px;
    }
}

.cta-ad__highlighted-title--bottom {
    margin-left: 10px;

    @media (min-width: @lg) {
        margin-left: 50px;
    }
}

.cta-ad__link-small {
    position: relative;
    padding-bottom: 100%;
    width: 100%;
    color: @white;

    &:hover {

    }
}

.cta-ad__content-container {
    max-width: 190px;

    @media (min-width: @lg) {
        max-width: 310px;
    }
}

.cta-ad__title-small {
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: .05em;
    text-shadow: 0 1px 2px rgba(0,0,0,0.50);
    text-align: center;
    line-height: 1;
    padding: 0 .5em;
    text-transform: uppercase;
}

.cta-ad__copy {
    font-size: 1.3rem;
    margin-bottom: 1em;
    color: @black;

    @media (min-width: @lg) {
        font-size: 2rem
    }
}

.cta-ad__copy--white {
    color: @white;
}

.cta-ad__copy--xtra-bottom-margin {
    margin-bottom: 30px;

    @media (min-width: @lg) {
        margin-bottom: 20px;
    }
}

.cta-ad__link-text {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: @font-family__serif;
    font-weight: 400;

    &:hover {
        text-decoration: underline;
    }

    @media (min-width: @lg) {
        font-size: 2rem;
    }
}

.cta-ad__copy-container {
    padding-left: 10px;
    padding-top: 20px;

    @media (min-width: @md) {
        padding-top: 20px;
    }

    @media (min-width: @lg) {
        padding-left: 50px;
        padding-top: 30px;
    }
}

.cta-product {
    background-image: radial-gradient(#0072CE 49%, #004C97 100%);
}

.cta-product__link {
    padding: 25px 10px 0;
    flex-direction: column-reverse;
    color: @white;

    @media (min-width: @md) {
        flex-direction: row;
    }
    @media (min-width: @md) {
        padding: 35px 35px 0;
    }
}

.cta-product__title {
    font-size: 2.4rem;
    font-family: @font-family__serif;
    margin-bottom: .583em;
    font-weight: 400;

    @media (min-width: @md) {
        font-size: 3rem;
    }

    @media (min-width: @lg) {
        font-size: 5rem;
        margin-bottom: .1em;
    }
}

.cta-product__copy-container {
    margin-bottom: 30px;

    @media (min-width: @md) {
        margin-bottom: 0;
        padding-left: 40px;
    }
}

.cta-product__image-container {
    display: flex;
}
