.header {
    border-bottom: 1px solid @econolight-orange;
}

.header__container {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.header__logo-container {
    flex: 1;
}

.header__mobile-link-container {
    padding-left: 15px;
}

.header__mobile-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: 1.1rem;
}

.header__mobile-link-icon {
    font-size: 2.2rem;
}
