.highlighted-text {
    font-family: 'Prompt';
    font-weight: 700;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    display: inline-block;
}

.highlighted-text--orange {
    color: @white;
    background-color: rgba(255,129,0,.73);
}

.highlighted-text__title {
    font-size: 2.4rem;
    padding-left: .67em;
    padding-right: .67em;
    padding-top: .25em;

    @media (min-width: @md) {
        font-size: 3.5rem;
    }

    @media (min-width: @xl) {
        font-size: 6.7rem;
        padding: .1em .6em;
    }
}

.highlighted-text--white {
    color: @econolight-dark-blue;
    background-color: rgba(255,255,255,.73);
}

.highlighted-text__sub-title {
    font-size: 1.8rem;
    padding: .25em .5em;
    margin-top: -5px;

    @media (min-width: @md) {
        font-size: 2.5rem;
    }

    @media (min-width: @xl) {
        font-size: 4.9rem;
        padding: .25em .5em;
        margin-left: 2.06em;
        margin-top: -9px;
    }
}

.highlighted-text__title-container--two-lines {
    display: flex;
    flex-wrap: wrap;

    & .highlighted-text:last-of-type {
        margin-top: -5px;

        @media (min-width: @xl) {
            margin-top: -12px;
        }
    }
}

.highlighted-text--align-right {
    margin-left: auto;
}

.highlighted-text--align-left {
    margin-right: auto;
}

.highlighted-text--align-center {
    margin-left: auto;
    margin-right: auto;
}
