.deals__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-item {
    background: #FFFFFF;
    box-shadow: 1px 1px 4px 0 #B2B3B3;
    padding: 10px;
}

.product-item__link {
    text-decoration: none;
}

.product-deal__content-container {
    padding: 10px 20px 20px;
}

.product-item__image-container {
    text-align: center;
}

.product-item__title {
    font-family: Oswald-Regular;
    font-size: 17px;
    color: #000000;
    letter-spacing: 0.012em;
    margin-bottom: 1.3em;
}

.product-item__was {
    font-family: Prompt-Light;
    font-size: 12px;
    color: #000000;
    letter-spacing: 0.025em;
    margin-bottom: 1em;
}

.product-item__price {
    font-family: Prompt-Bold;
    font-size: 18px;
    color: #000000;
    letter-spacing: 0.022em;
}

.product-item__customer-links {
    font-weight: 700;
    font-size: 1.3rem;
}

.product-item__savings {
    background-color: @econolight-dark-blue;
    padding: 8px 20px;
}

.product-item__savings-amount {
    font-family: Oswald-Regular;
    font-size: 17px;
    color: #FFFFFF;
    letter-spacing: 0;
}

.product-item__rating {
    color: @econolight-light-blue;
    margin: 1.25em 0;
}

.product-item-description-list {
    margin-bottom: 30px;
}

.product-item-description__list-item {
    margin-bottom: .5em;
    font-size: 1.2rem;
    color: @black;
}

.customer-links__list-item {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 1em;
}

.customer-links__link {
    text-decoration: none;
}

.product-item__tooltip {
    display: inline-block;
    background-color: @econolight-light-gray;
    padding: .2em .435em;
}
