.deals__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.deals__title {
    font-family: Oswald-Regular;
    font-size: 24px;
    color: #000000;
    letter-spacing: 0;
}

.product-deal {
    background: #FFFFFF;
    box-shadow: 1px 1px 4px 0 #B2B3B3;
}

.product-deal__link {
    text-decoration: none;
}

.product-deal__content-container {
    padding: 10px 20px 20px;
}

.product-deal__image-container {
    text-align: center;
}

.product-deal__title {
    font-family: Oswald-Regular;
    font-size: 17px;
    color: #000000;
    letter-spacing: 0.012em;
    margin-bottom: 1.3em;
}

.product-deal__was {
    font-family: Prompt-Light;
    font-size: 12px;
    color: #000000;
    letter-spacing: 0.025em;
    margin-bottom: 1em;
}

.product-deal__price {
    font-family: Prompt-Bold;
    font-size: 18px;
    color: #000000;
    letter-spacing: 0.022em;
}

.product-deal__savings {
    background-color: @econolight-dark-blue;
    padding: 8px 20px;
}

.product-deal__savings-amount {
    font-family: Oswald-Regular;
    font-size: 17px;
    color: #FFFFFF;
    letter-spacing: 0;
}
