.deals__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-deal__content-container {
    padding: 10px 20px 20px;
}

.product-deal__savings {
    background-color: @econolight-dark-blue;
    padding: 8px 20px;
}

.product-deal__savings-amount {
    font-family: Oswald-Regular;
    font-size: 17px;
    color: #FFFFFF;
    letter-spacing: 0;
}
