.section {
    padding: 30px 0;
}

.section--gray-background {
    background-color: @econolight-light-gray;
}

.section__title {
    font-family: Oswald-Regular;
    font-size: 24px;
    letter-spacing: 0;
    margin-bottom: 1em;

    @media (min-width: @lg) {
        font-size: 3.6rem;
    }
}
