.two-link-ad {
    @media (min-width: @xl) {
        padding: 50px 0 50px 80px;
    }
}

.two-link-ad__title {
    font-family: Oswald-Regular;
    font-size: 2.4rem;
    letter-spacing: 0;
    line-height: 1.167;
    margin-bottom: 30px;

    @media (min-width: @md) {
        font-size: 3rem;
    }

    @media (min-width: @xl) {
        font-size: 5rem;
    }
}

.two-link-ad__links-container {

}

.two-link-ad__link {
    display: flex;
    color: @econolight-dark-blue;
    text-decoration: none;
    font-family: Oswald-Regular;
    font-size: 1.8rem;
    color: #004C97;
    letter-spacing: .061em;
    line-height: 1.167;

    margin-bottom: 30px;

    &:hover {
        color: @econolight-light-blue;
    }
}

.two-link-ad__icon {
    font-size: 39px;
    margin-right: .64em;
    color: @econolight-orange;

    .two-link-ad__link:hover & {
        color: @econolight-light-blue;
    }
}
